  body {
    padding: 0;
    text-align: center;
    background-image: url("./imagenes/felipeback4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .your-points {
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    text-shadow: 1px 1px #000000;
    background-color: #ed1c24;
    color: #fff;
    padding: 20px 40px;
    border: 1;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .total {
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px #000000;
    color: #fff;
    margin: 10px 0;
  }
  
  #game-intro {
    padding: 70px 0px;
  }
  
  #game-container {
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
    /* display:none; */
    /* margin: 0 auto; */
    /* width: 100vh; */
  }
  
  
  #game-screen {
    margin-left:auto ;
    margin-right:auto;
    padding: 0px 10px;
    overflow: hidden;
    position: relative;
    background-image: url(./imagenes/roadblack.png);
    background-size: cover;
    animation: slide 5s linear infinite;
  }

  .control{
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    color: #fff;
    padding: 20px 40px;
    text-shadow: 1px 1px #000000;
    margin-bottom: 10px;
  }

  .narrows{
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    color: #000000;
    padding: 20px 40px;
    margin-bottom: 0px; 
    text-shadow: 1px 1px #fff;
  }

  .crash{
    font-family: 'Raleway',sans-serif;
    text-shadow: 1px 1px #fff;
    font-size: 30px;
    margin-top: 40px;
  }

  .over{
    font-family: 'Raleway',sans-serif;
    text-shadow: 1px 1px #fff;
    font-size: 40px;
  }

  .hidden {
    display: none;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -800px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }

  @media (width < 767px) {
    /* Your styles for small devices here */
    #game-screen {
      background-size: contain;
    }
  }
  
  #game-end {
    display: none;
    padding: 20px 0px;

  }
  
  .game-intro p {
    font-size: 30px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 250px;
    margin-top: -60px;
  }
  
  body button {
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    background-color: #ed1c24;
    color: #fff;
    padding: 20px 40px;
    border: 1;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  